@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";
@import "typography";
@import "variables";

*,
:before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: FuturaPT, sans-serif;
  color: $text-color;
  background-color: #ffffff;
  max-width: 100vw;
  height: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $text-color;
}

.container {
  width: 100%;
  max-width: calc(1176px + 64px);
  margin: 0 auto;
  padding: 0 32px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.title {
  color: $title-color;
  text-transform: uppercase;
}

.subtitle {
  max-width: 512px;
  width: 100%;
  font-weight: normal;
}

.button {
  width: 100%;
  max-width: 392px;
  padding: 18px;

  background: none;
  border: 2px solid $blue;
  box-sizing: border-box;
  border-radius: 12px;

  font-weight: 800;
  color: $blue;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;

  cursor: pointer;
  transition: .2s linear;

  &:hover,
  &:focus {
    background: $blue;
    color: #ffffff;
  }
}

.underlined {
  text-decoration: underline;
}

@media(max-width: $min-desktop) {
  .container {
    padding: 0 32px;
  }
}

@media(min-width: $min-desktop) {
  .container {
    padding: 0 24px;
  }

  .title {
    margin-bottom: 24px;
  }

  .subtitle {
    margin-bottom: 80px;
  }
}

@media(max-width: $tablet) {
  .container {
    padding: 0 16px;
  }

  .title {
    margin-bottom: 16px;
  }

  .subtitle {
    margin-bottom: 56px;
  }
}

@import "intro";
@import "experts";
@import "quote";
@import "footer";